@import "tailwindcss";

.key-active {
  background-color: #588157 !important;
  transition: all 0.1s ease-in-out !important;
  transform: scale(0.85) !important;
}

.key-active-instant {
  background-color: #588157 !important;
  transition: none;
}